@import "tailwindcss";

/* .bg {
    background: linear-gradient(to right, #9016d6, #aa3d9c);
}

.bg- {
    /* background: linear-gradient(to right, #9016d6, #aa3d9c);    */
   /* background-color: #9016d6;
} */

.shadow {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #fff;
    opacity: 0.3;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.btns {
    font-size: large;
    margin-top: 5px;
    font-weight: 700;

}

.btns:hover {
    color: white;
    transform: scale(1.02);
}

.list {
    color: black;
    transition: transform 0.2s;
}

.list:hover {
    transform: scale(1.05);
}

.total {
    background-color: #fff;
    opacity: 0.3;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.total:hover {
    transform: scale(1.05);
}

.text {
    background: linear-gradient(to right, #d611ac, #3505b9);
    /* cyan-500 to blue-500 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-shadow: 8px 12px 16px rgba(0, 0, 0, 0.2);
}

.line:hover {
    transform: scale(1.1);
    font-weight: 600;
}

.toggle:hover {
    box-shadow: #366ee9 0px 0px 10px;
}

.ibg {
    background-color: antiquewhite;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    border-radius: 40px;
    font-size: larger;
    font-weight: 600;
}

.ibg:hover {
    background-color: #366ee9;
    color: white;
    transform: scale(1.05);
}

.bg-home {
    background-image: url('src/assets/bg-home.jpg');
  background-size: cover; /* Makes image cover the whole box */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}

.bg-wave {
    background-image: url('src/assets/svg.png');
  background-size: cover; /* Makes image cover the whole box */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
} 