.bg{
    background: linear-gradient(to right, #9016d6, #aa3d9c);   
}

.bg- {
    /* background: linear-gradient(to right, #9016d6, #aa3d9c);    */
    background-color: #9016d6;
}

.shadow {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #fff;
    opacity: 0.3;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}