@import "tailwindcss";

*{
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
}

.App {
  background: linear-gradient(to bottom right, black, #6B7280, black);

}